.cardContainer {
  max-width: 20rem;
  min-width: 20rem;
  width: 100%;
  background: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: 0.825rem;
  margin: 0.875rem;
  list-style: none;

  position: relative;

  img {
    border-top-left-radius: 0.825rem;
    border-top-right-radius: 0.825rem;
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin-bottom: 4.65rem;

    span {
      display: inline-block;
      margin-top: 0.5rem;
      font-size: 0.775rem;
    }

    a {
      display: block;
      color: var(--gray-800);
      font-family: Lexend, sans-serif;
      font-weight: 600;
      text-decoration: none;
      line-height: 1.4rem;
      transition: all 0.5s;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-size: 0.875rem;
      margin-top: 0.5rem;
      max-width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .actions {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.25rem;

    position: absolute;
    bottom: 0;
    left: 0;

    button {
      background: var(--white);
      border: 1px solid var(--gray-100);
      border-radius: 1rem;
      padding: 0.425rem;

      display: flex;
      align-items: center;

      .playButton {
        img {
          padding: 0;
          margin: 0;
        }
      }

      span {
        margin-left: 0.875rem;
        font-size: 0.825rem;
      }
    }
  }
}